@charset "utf-8";

// If need, change your variables before importing Bulma
$title-color: #ff0000;
$logo-text: #115BA4;
$logo-text-2: #e82924;

.logo-text{
  color: $logo-text;
}

.secondary-logo-text{
  color: $logo-text-2;
}

.navbar-item img {
  max-height: 5rem !important;
}

.line-height-0{
  line-height: normal;
}

@import "~bulma/bulma.sass";